
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<link rel="stylesheet" href="~/css/hackday.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="~/css/hackday.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light" rel="stylesheet">

<body>
    <header>
        <div class="container1">
            <div id="MyName">
                <h1><span class="highlight">Cute</span> Not Cute</h1>
            </div>
            <nav>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Cuteness" asp-action="Index">Upload</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
<p>Creaters of this awesome site</p>
<ul>
    <li>Stefan Retief</li>
    <li>Antonio Monje</li>
    <li>Alejandro Monje</li>
</ul>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
    </body>

